{% extends "base.html" %}

{% block title %}
App -- Add a URL
{%  endblock %}

{% block content %}
    <section>
        <h1>Add a new URL</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                <tr{% if form.obj.errors %} class="errors" {% endif %}>
                    <td>Enter the Bookmark: </td>
                    <td>{{ form.obj(size = 40)}}</td>
                </tr>
                <tr class="errors">
                    <td></td>
                    <td>
                        <ul>
                            {% for er in form.obj.errors %}
                            <li><font color="red">{{ er }}</font></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Optional Description: </td>
                    <td>{{ form.description(size = 50) }}</td>
                </tr>
                <tr class="submit">
                    <td></td>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}